.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

h1 {
  margin-bottom: 16px;
}

h4 {
  margin-bottom: 16px;
}